<div class="row">
  <div class="col-md-4 developer" *ngFor="let developpeur of developpeurs">
    <div class="developer-content">
      <h2>{{ developpeur.nom}}</h2>
      <p *ngIf="editedDev === developpeur">
        <textarea [(ngModel)]="developpeur.description" class="form-control" rows="2"></textarea>
        <button type="button" class="btn btn-success" (click)="validateEditDev(developpeur)">Valider</button>
        <button type="button" class="btn btn-danger" (click)="cancelEditDev(developpeur)">Annuler</button>
      </p>
      <p *ngIf="!(editedDev === developpeur)">{{ developpeur.description}}
        <span class="glyphicon glyphicon-pencil" aria-hidden="true" (click)="editDev(developpeur)"></span></p>
      <p class="tjm" [class.high]="developpeur.tjm > 500">{{developpeur.tjm}}€/j</p>
    </div>
  </div>
  <div class="col-md-4 developer">
    <div *ngIf="!newDeveloppeur">
      <div class="new-developer">
        <span class="glyphicon glyphicon-plus new-developer-button" (click)="setAddDeveloperMode()"></span>
      </div>
    </div>
    <div class="developer-content" *ngIf="newDeveloppeur">
      <div class="form-group">
        <input class="form-control" placeholder="Name" name="name" type="text" [(ngModel)]="newDeveloppeur.nom">
      </div>
      <div class="form-group">
          <textarea [(ngModel)]="newDeveloppeur.description" class="form-control" rows="1"
                    placeholder="Description"></textarea>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="number" class="form-control" [(ngModel)]="newDeveloppeur.tjm">
          <div class="input-group-addon">€/j</div>
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-success" (click)="validateAddDev()">Valider</button>
        <button type="button" class="btn btn-danger" (click)="cancelAddDev()">Annuler</button>
      </div>
    </div>
  </div>
</div>
